.card{
  background-color: red;
}

.card-header{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:white;
}

.form-group{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:white;

}

.button{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:white;

}
