
<div class="card shadow-sm">
  <img class="bd-placeholder-img card-img-top" width="100%"   src='{{ "assets/images/" + produto.img + ".png" }}'>

  <div class="card-body">
    <p class="card-text">{{ produto.name }}</p>
    <p class="card-text">{{ produto.category }}</p>

       <div class="d-flex justify-content-between align-items-center">
        <div class="button">
        <button  id='turnOn'>Contrate já</button>
        <button  id='turnOn'>Simule já</button>




        </div>
    </div>
  </div>
</div>




